$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
  padding: 80px 0 0 0;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin: 0 0 30px 0;
  text-align: center;
}

h2{
  color: #777;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 30px 0;
  text-align: center;
}

.nav-item {
  margin: 20px 0 0 25px;
  float: left;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

footer {
  color: #777;
  margin: 25px 0 0 0;
  border-top: 1px solid #eaeaea;
}

.chef_info {
  margin-top: 20px;  
}

.gravatar {
  border-radius: 10px;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

#logo {
  margin: 10px 10px 10px 0;
  float: left;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 9px;
  font-weight: bold;
  
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  
}
